# Compiled Object files
*.slo
*.lo
*.o
*.obj
obj/* # For good measure

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Everything in bin
bin/*

# Code::Blocks-specific files
*.depend
*.layout
*.cbp

# XCode (Mac) Stuff
.FractaSketchMac/
/FractaSketchMac/*

FractaSketch_log.txt
*.bak
*.fsk
